{% extends "base_generic.html" %}

{% block content %}
  <h1>Author:{{author.last_name}},{{ author.first_name }}</h1>
  <p>
    {{ author.date_of_birth }} -
    {% if author.date_of_death %}
        {{ author.date_of_death }}
    {% endif %}
    <p style="font-size: 40px;">Books</p>
    {% for book in books %}
      <a href="{{ book.get_absolute_url }}" style="font-size: 30px;">{{ book.title }}</a>
      <p>summary:{{ book.summary}}</p>

    {% endfor %}
</p>
<lu>
  <li><a href="{% url 'author_update' author.id %}">Author_Update</a></li>
  <li><a href="{% url 'author_delete' author.id %}">Author_Delete</a></li>
</lu>
{% endblock %}
